<app-githubsearch-profile [user]='user'></app-githubsearch-profile>

<div class="githubsearchmain mt-3">
  <app-githubsearch-form (searchEvent)='searchGithub($event)'></app-githubsearch-form>

  <div *ngIf='searchType=="user"; else repos'>
    {{user.id}} {{user.username}} {{user.avatar}} {{user.url}}
  </div>

  <ng-template #repos>
    <div *ngIf='repositories' >
      <div *ngFor='let repo of repositories; let i=index'>
        <div class="card shadow-sm p-3 mb-2">
          <div class="">{{repo.title}}</div>
          <div class=""><a href="{{repo.url}}">{{repo.url}}</a></div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
